{% extends "layout.html" %}

{% block title %}
	Index
{% endblock %}

{% block main %}
	<table>
		<tr>
			<th>Symbol</th>
			<th>Quantity</th>
			<th>Current Price(in US$)</th>
			<th>Value(in US$)</th>
		</tr>
		{% for i in range(size) %}
		<tr>
			<td>{{ symbol[i] }}</td>
			<td>{{ share[i] }}</td>
			<td>{{ price[i] }}</td>
			<td>{{ (share[i]*price[i])|round(2) }}</td>
		</tr>
		{% endfor %}
		<tr>
			<td>Cash</td>
			<td></td>
			<td></td>
			<td>{{ cash }}</td>
		</tr>
		<tr>
			<th>Total</th>
			<td></td>
			<td></td>
			<th>{{ total }}</th>
		</tr>
	</table>
{% endblock %}